body {
    background-color: #36454F;
    color: #778792;
    /*
    for testing
    border: 2px solid black;
    */
}

a{
    text-decoration: none;
    color: #778792;
}

nav a{
    border: 2px solid black;
    background-color: red;
    color: black;
    padding: 5px;
}

.test{
    display: inline;
    width: 100%;
    /*border: 2px solid black;*/
    text-align: center;
}

.player1,.player2 {
    display: inline;
    width: 100%;
    padding: 10px;
    /*border: 2px solid purple;*/
    text-align: center;
    font-size: 3em;
}

.player1 input[type="text"],.player2 input[type="text"]
{
    width: 5em;
    font-size: 0.5em;
    /*border: 2px solid seagreen;*/
}

.player1{
    color: purple;
}

.player2 {
    color: red;
}

.divider{
    width: 10%;
    text-align: center;
    border: 2px solid white;
}

.center{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
   
    padding: 10px;
    /*border: 2px solid black;*/
}

.score{
    width: 100%;
    text-align: center;
    /*border-bottom: 2px solid black;*/
}

/*
.score label{
    width: 2em;
    border: 2px solid red;
}*/

.board{
    
    border: 2p dashed purple;
}
